logs/
*/log/

*/app/base.url

*/enclosures/
!*/enclosures/app/

*/podcasts/
!*/podcasts/app/
!*/podcasts/*/app/

*/stations/
!*/stations/app/

.bundle/config
vendor/bundle/
.config/streamripper/streamripper.ini

src/index.html
src/*/index.html
src/*/*/index.html

src/*-cmd/*-*-*-*
src/enclosure-tag-cmd/testdata/*.jpg
src/enclosure-tag-cmd/testdata/*.mp3
