logs/
*/log/

*/app/base.url

*/enclosures/
!*/enclosures/app/

*/podcasts/
!*/podcasts/app/
!*/podcasts/*/app/

*/stations/
!*/stations/app/

.bundle/config
vendor/bundle/
.config/streamripper/streamripper.ini

src/cmd/scrape-*-*-*.*.*
src/index.html
src/*/index.html
src/*/*/index.html
bin/scrape-linux-amd64-0.0.1
