logs/
*/log/

*/app/base.url

*/enclosures/
!*/enclosures/app/

*/podcasts/
!*/podcasts/app/
!*/podcasts/*/app/

*/stations/
!*/stations/app/

.DS_Store
.bundle/config
vendor/bundle/

xslt/*.rdf
xslt/*.ttl
